<ion-view view-title="Dashboard"> <ion-content class="padding">
<h2>計算BMI的小工具</h2>
<div class="list">
	<label class="item item-input item-stacked-label"> <span class="input-label">身高(CM)</span> <input
		type="text"
		placeholder="請輸入身高"
		ng-model="params.height"
		ng-change='calculateBmi()'>
	</label> <label class="item item-input item-stacked-label"> <span class="input-label">體重(KG)</span> <input
		type="text"
		placeholder="請輸入體重"
		ng-model='params.weight'
		ng-change='calculateBmi()'>
	</label> <label class="item item-input item-stacked-label"> <span class="input-label">BMI</span> <input
		type="text"
		ng-model='params.bmi'>
	</label>
</div>
<div class="list">
	<label class="item item-input item-stacked-label"> <span class="input-label">BMI值計算公式: BMI = 體重(公斤) / 身高²(公尺²)</span>
	</label> <label class="item item-input item-stacked-label"> <span class="input-label">體重正常範圍為 BMI=18.5~24</span>
	</label>
</div>
</ion-content> </ion-view>
